* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

li {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Egen CSS */
    /* Andet CSS */
    .wrapper{
        max-width: 1300px;
        padding: 0 1emm;
        margin: 0 auto;
    }
    h1,h2,h3,h4,h5,h6,p,a,span{
        font-family: "Open Sans";
        color: #141C17;
    }
    a{
        color: inherit;
        text-decoration: none;
    }

    /* Navbar */
    .navbar{
        padding: 2em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
    }
    .logo img{
        height: 40px;
    }
    .search input{
        padding: 3px 0px;
        border: none;
        border-bottom: 1.5px solid #F2771B;
        margin-top: 0px;
        width: 300px;
        transition: 300ms ease-in-out;
    }
    .search input:focus{
        outline: none;
        transition: 200ms ease-in-out;
        padding: 5px 3px;
    }
    .search-icon, .nav-menu{
        display: none;
    }
    .nav-links{
        list-style: none;
        display: flex;
    }
    .nav-link{
        margin: 0 30px;
    }
    .nav-item{
        text-decoration: none;
        font-weight: 600;
    }
    .nav-icons{
        width: auto;
    }
    .cart-icon svg{
        position: absolute;
    }
    .cart-label{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -8px;
        left: 10px;
        z-index: 1;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        color: white;
        background: #F2771B;
    }



/* css af Abd */
/* index */
.infobar{
    background: #F2771B;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.infobar p{
    color: white;
    font-weight: 800;
    font-size: 14px;
}

/* Section - forside slider */
.section{
    margin-top: 50px;
}

.ctaplacing{
    display: flex;
    justify-content: center;
}

.sectioncta{
    background-color: transparent;
    border: solid 3px #FA7268;
    position: absolute;
    color: white;
    z-index: 1;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectioncta:hover{
    background-color: #FA7268;
}

.sectioncta a{
    text-decoration: none;
    color: white;
}

.slide1{
    background-image: url("../images/banner1.jpg");
}

.slide2{
    background-image: url("../images/banner2.jpg");
}

.slide3{
    background-image: url("../images/banner3.jpg");
}

.carousel-cell {
    width: 100%; /* full width */
    height: calc(100vh - 184px); /* height of carousel */
    margin-right: 10px;
}

.slide{
    background-position: center;
    background-size: cover;
}

.flickity-button {
    display: none;
}

/* article */
.article{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.indhold{
    margin-top: 50px;
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articlecontainer{
    width: 100%;
    height: 730px;
}

.articletxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.kvindebox{
    background-image: url("../images/kvindebox.png");
}

.mændbox{
    background-image: url("../images/mændbox.png");
}

.articlecta{
    border: solid 3px #F2771B;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articlecta h4{
}

.articlecta:hover{
    background-color: #F2771B;
    color: white;
}

/* clothing feed */
.feed{
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 30px 0 40px;
}

.feedcontainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.blog{
    background-color: white;
    height: 350px;
    width: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 7px 6px rgba(0,0,0,0.2);
}

.blogbillede{
    width: 100%;
    height: 75%;
    background-position: center;
    background-size: cover;
}

.blogbillede1{
    background-image: url("../images/blogbillede1.jpg");
}

.blogbillede2{
    background-image: url("../images/blogbillede2.jpg");
}

.blogbillede3{
    background-image: url("../images/blogbillede3.jpg");
}

.blogtext{
    display: flex;
    justify-content: center;
    text-align: center;
}

.blogdato{
    display: flex;
    justify-content: flex-end;
    padding: 0 5px 5px 0;
}

/* Nye varer */
.arrivals{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.arrivalscontainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nybox{
    height: 350px;
    width: 450px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 6px rgba(0,0,0,0.2);
}

.nyboxbillede{
    width: 100%;
    height: 85%;
    background-position: center;
    background-size: cover;
}

.nybox1{
    background-image: url("../images/nybox1.png");
}

.nybox2{
    background-image: url("../images/nybox2.png");
}

.blogtext{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer{
    background-color: #F3F3F3;
}

.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    height: 200px;
}

.footercol{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footercol h3{
    line-height: 40px;
}

.footercol h5{
    line-height: 25px;
}

.col4{
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

.feather{
    margin-right: 5px;
}

/* Kurv underside */
.kurvoverblik{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 50px;
}

.kurvoverblik p{
    font-weight: 800;
    font-size: 22px;
}

.kurvcontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kurvindhold{
    width: 950px;
}

.tjekud{
    width: 300px;
    height: 100px;
    background-color: #141C17;
}

.kurvvalg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px gray;
}

.kurvcol{
    width: 23%;
    height: 200px;
}

.kurv1col1{
    background-image: url("../images/nybox22.png");
    background-position: center;
    background-size: cover;
}

.kurv2col1{
    background-image: url("../images/nybox1.png");
    background-position: center;
    background-size: cover;
}

.kurvcol2 h2{
    font-size: 16px;
}

.kurvcol2 h3{
    font-size: 14px;
}

.kurvcol2 h5{
    color: gray;
    padding-top: 10px;
}

.kurvcol3{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.kurvcol3 h3{
    font-size: 14px;
    margin-right: 10px;
}

.kurvcol3 input{
    width: 35px;
    height: 20px;
}

.kurvcol4{
    display: flex;
    justify-content: flex-end;
}

.kurvcol4 h3{
    font-size: 14px;
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 992px) {
    .nav-icons{
        display: flex;
        justify-content: space-between;
        width: 30%;
    }
    .nav-links,.search input{
        display: none;
    }
    .nav-menu,.search-icon{
        display: block;
    }
}
