$computer: "screen and (min-width: 992px)";

$border-buttom: solid 1px gray;

$orange: #F2771B;


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

li {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Egen CSS */
    
    /* Andet CSS */
    .wrapper{
        max-width: 1300px;
        padding: 0 1em;
        margin: 0 auto;
    }
    h1,h2,h3,h4,h5,h6,p,a,span,label{
        font-family: "Open Sans";
        color: #141C17;
    }
    a{
        color: inherit;
        text-decoration: none;
    }

    /* Navbar */
    .navbar{
        padding: 2em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
    }
    .logo img{
        height: 40px;
    }
    .search input{
        padding: 3px 0;
        border: none;
        border-bottom: 1.5px solid #F2771B;
        margin-top: 0;
        width: 300px;
        transition: 300ms ease-in-out;
    }
    .search input:focus{
        outline: none;
        transition: 200ms ease-in-out;
        padding: 5px 3px;
    }
    .search-icon, .nav-menu{
        display: none;
    }
    .nav-links{
        list-style: none;
        display: flex;
    }
    .nav-link{
        margin: 0 30px;
    }
    .nav-item{
        text-decoration: none;
        font-weight: 600;
    }
    .nav-icons{
        width: auto;
    }
    .cart-icon svg{
        position: absolute;
    }
    .cart-label{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -8px;
        left: 10px;
        z-index: 1;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        color: white;
        background: #F2771B;
    }



        /* Katalog */
        
        .subheader{
            padding: 6em 0;
            text-align: center;
        }
        .katalog-grid{
            display: grid;
            grid-template-columns: 1fr 4fr;
        }
        .filters{
            display: flex;
            flex-direction: column;
        }
        .produkter-grid{
           display: grid;
           grid-template-columns: repeat(3, 300px);
           grid-gap: 30px;
           margin-bottom: 100px;
        }
        .produkt-card{
            text-align: center;
        }
        .produkt-card:hover .produkt-img>img{
            transform: scale(1.05);
            transition: 200ms ease-in-out;
        }
        .produkt-img{
            max-width: 300px;
            max-height: 300px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .produkt-img img{
            object-fit: cover;
            transition: 300ms ease-in-out;
        }
        .produkt-card .label{
            padding: 5px 15px;
            position: relative;
            width: fit-content;
            top: -320px;
            font-size: 12px;
            text-transform: uppercase;
            font-family: "open sans", sans-serif;
            font-weight: 700;
        }
        .label.udsolgt{
            background: #E03809;
            color: #ffffff;
        }
        .label.nyhed{
            background: #93C088;
            color: #ffffff;
        }
        .label.tilbud{
            background: #F9D401;
            color: #141C17;
        }
        .tilbud-pris{
            opacity: 0.5;
            text-decoration: line-through;
            margin-right: 10px;
        }
        .pagination{
            grid-column: 2;
            margin: 50px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .pagination svg{
            stroke: #F2771B;
        }
        .pagination span{
            width: 80px;
            display: flex;
            justify-content: space-around;
        }

        .filters p{
            margin: 5px 0;
        }
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
             position: absolute;
             left: -9999px;
            }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ececec;
            border-radius: 100%;
            background: #ececec;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #F2771B;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }


        /* Produkt side */
        .produkt-grid{
            display: grid;
            grid-template-columns: 80px 1fr 1fr;
            grid-column-gap: 30px;
            margin: 100px 0;
        }
        .faded{
            opacity: 0.5;
            display: block;
        }
        .faded:nth-of-type(1){
            margin: 50px 0;
        }
        .price{
            display: block;
            margin: 20px 0;
            font-size: 28px;
            font-weight: 700;
        }
        .produkt-label{
            padding: 5px 15px;
            margin-bottom: 10px;
            display: block;
            width: fit-content;
            font-size: 12px;
            text-transform: uppercase;
            font-family: "open sans", sans-serif;
            font-weight: 700;
            background: #93C088;
            color: #ffffff;
        }
        .desc{
            line-height: 1.5;
        }
        .sizes{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 5px;
            margin: 30px 0;
        }
        .size{
            text-align: center;
            width: 70px;
            background: #ececec;
            color: #141C17;
            font-size: 14px;
            font-weight: 700;
            padding: 3px;
        }
        .unavailable{
            color: #ccc;
        }
        .chosen{
            background: #F2771B;
            color: #fff;
        }
        .buy-btn{
            display: block;
            padding: 10px 66px;
            margin: 10px 0;
            background: #F2771B;
            width: fit-content;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            border: 2px solid #F2771B
        }
        .thumbs{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


/* css af Abd */
/* index */
.infobar{
    background: #F2771B;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    @media  screen and (max-width: 768px) {
        display: none;
    }
}

.infobar p{
    color: white;
    font-weight: 800;
    font-size: 14px;
}

/* Section - forside slider */
.section{
    margin-top: 50px;
    padding: 0;

    @media  screen and (max-width: 768px) {
        margin-top: 0;
    }
}

.ctaplacing{
    display: flex;
    justify-content: center;
}

.sectioncta{
    background-color: transparent;
    border: solid 3px #FA7268;
    position: absolute;
    color: white;
    z-index: 1;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectioncta:hover{
    background-color: #FA7268;
}

.sectioncta a{
    text-decoration: none;
    color: white;
}

.slide1{
    background-image: url("../images/banner1.jpg");
}

.slide2{
    background-image: url("../images/banner2.jpg");
}

.slide3{
    background-image: url("../images/banner3.jpg");
}

.carousel-cell {
    width: 100%; /* full width */
    height: calc(100vh - 184px); /* height of carousel */

    @media  screen and (max-width: 768px) {
        height: 500px;
    }
}

.slide{
    background-position: center;
    background-size: cover;
}

.flickity-button {
    display: none;
}

/* article */
.article{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}

.indhold{
    margin-top: 50px;
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media  screen and (max-width: 768px) {
        width: 50%;
    }
}

.articlecontainer{
    width: 100%;
    height: 730px;

    @media  screen and (max-width: 768px) {
        height: 500px;
    }
}

.articletxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    @media  screen and (max-width: 768px) {
        h1{
            font-size: 18px;
        }

        h4{
            font-size: 12px;
        }
    }
}

.kvindebox{
    background-image: url("../images/kvindebox.png");
    background-position: center;

    @media  screen and (max-width: 768px) {
        background-size: cover;
    }
}

.menbox{
    background-image: url("../images/mændbox.png");
    background-position: center;

    @media  screen and (max-width: 768px) {
        background-size: cover;
    }
}

.articlecta{
    border: solid 3px #F2771B;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media  screen and (max-width: 768px) {
        width: 60%;
        height: 40px;

        h4{
            font-size: 12px;
        }
    }
}

.articlecta:hover{
    background-color: #F2771B;
    color: white;
}

/* clothing feed */
.feed{
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 30px 0 40px;
}

.feedcontainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.blog{
    background-color: white;
    height: 350px;
    width: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 7px 6px rgba(0,0,0,0.1);
    transition: 300ms ease;
}

.blogbillede{
    width: 100%;
    height: 75%;
    background-position: center;
    background-size: cover;
}

.blogbillede1{
    background-image: url("../images/blogbillede1.jpg");
}

.blogbillede2{
    background-image: url("../images/blogbillede2.jpg");
}

.blogbillede3{
    background-image: url("../images/blogbillede3.jpg");
}

.blogtext{
    display: flex;
    justify-content: center;
    text-align: center;
}

.blogdato{
    display: flex;
    justify-content: flex-end;
    padding: 0 8px 10px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

/* Nye varer */
.arrivals{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.arrivalscontainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nybox{
    height: 350px;
    width: 450px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 6px rgba(0,0,0,0.1);
}

.nyboxbillede{
    width: 100%;
    height: 85%;
    background-position: center;
    background-size: cover;
}

.nybox1{
    background-image: url("../images/nybox1.png");
}

.nybox2{
    background-image: url("../images/nybox2.png");
}

.blogtext{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer{
    background-color: #F3F3F3;
}

.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    height: 200px;
}

.footercol{
    display: flex;
    flex-direction: column;
}

.footercol h3{
    line-height: 40px;
}

.footercol h5{
    line-height: 25px;
}

.col4{
    display: flex;
    justify-content: flex-start;
}

.feather{
    margin-right: 5px;
}


/* Kurv underside */


@media #{$computer} {
    .kurvoverblik{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .kurvoverblik p{
        font-weight: 800;
        font-size: 22px;
    }

    .kurvcontainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .kurvindhold{
        width: 920px;
    }

    .kurvvalg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
        border-bottom: solid 1px gray;
    }

    .kurvcol{
        width: 23%;
        height: 200px;
    }

    .kurv1col1{
        background-image: url("../images/nybox22.png");
        background-position: center;
        background-size: cover;
    }

    .kurv2col1{
        background-image: url("../images/nybox1.png");
        background-position: center;
        background-size: cover;
    }

    .kurvcol2 h2{
        font-size: 16px;
    }

    .kurvcol2 h3{
        font-size: 14px;
        opacity: 0.7;
        padding-bottom: 10px;
    }

    .kurvcol2 h5{
        color: gray;
        width: fit-content;
        cursor: pointer;
    }

    .kurvcol2 h5:hover{
        color: red;
    }

    .kurvcol3{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .kurvcol3 h3{
        font-size: 14px;
        margin-right: 10px;
    }

    .kurvcol3 input{
        width: 35px;
        height: 20px;
    }

    .kurvcol4{
        display: flex;
        justify-content: flex-end;
    }

    .kurvcol4 h3{
        font-size: 14px;
    }

    .tjekud{
        width: 300px;
        height: 400px;
    }

    .tjekudcontainer{
        background-color: #141C17;
        width: 300px;
        height: 250px;
        padding: 20px;
    }

    .tjekrow1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tjekrow1 p{
        color: white;
    }

    .tjekrow2{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .tjekudopstil{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tjekrow2 h4{
        color: white;
        line-height: 26px;
        font-size: 14px;
    }

    .tjekrow3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tjekrow3 h3{
        color: white;
        line-height: 26px;
        font-size: 16px;
    }

    .betaling{
        background-color: #F2771B;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .betaling p{
        color: white;
    }

    .betaling:hover p{
        transform: scale(1.1);
        transition: 100ms ease;
    }

    /* Sass tilføjet til kurv underside web - Stephanie */
    .accept {
        border-bottom: $border-buttom;
        padding: 30px 0;


        .fab {
            margin-top: 10px;
            font-size: 42px;
            letter-spacing: 10px;
        }
    }

    .kupon {
        padding: 30px 0;
        border-bottom: $border-buttom;

        p {
            span {
                color: #666666;
            }
        }

        input {
            margin-top: 10px;
            width: 50%;
        }

        .brugkode {
            margin-top: 10px;
            cursor: pointer;
            width: 50%;
            display: none;
            background-color: $orange;

            p {
                color: white;
                font-size: 12px;
                padding: 5px 0;

                &:hover {
                    transform: scale(1.1);
                    transition: 100ms ease;
                }
            }
        }
    }
}



/* Betalings processen */
.betalingcontainer{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-bottom: 100px;
}

.betalingcol{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.betalingcol p{
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 20px;
}

.skema{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form2{
    display: flex;
    flex-direction: column;
}

.inputcontainer2{
    width: 40px;
    height: 30px;
}

.inputudlob{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.inputcontainer{
    height: 30px;
}

.input{
    font-family: "Open Sans", sans-serif;
}

.inputcontainer3{
    width: 50px;
    height: 30px;
}

.betal{
    background-color: #93C088;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.betal h2{
    color: white;
}



@media screen and (min-width: 768px) {

}

@media screen and (max-width: 992px) {
    .nav-icons{
        display: flex;
        justify-content: space-between;
        width: 30%;
    }
    .nav-links,.search input{
        display: none;
    }
    .nav-menu,.search-icon{
        display: block;
    }
}
